;.form-row {
    padding-top: 20px;
    padding-left: 20px;
  }
  

  
  .buttonWorld{
    margin-right:6px;
  }

  .buttonWorld:hover {
    opacity: 0.3;
    
  }
  .weatherAPP {
    border: 10px solid rgb(164, 233, 233);
    border-radius: 8px;
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
    padding:20px 20px;
    margin: 0 auto;
    max-width: 750px;
  }
  
  .currentTemperature {
    margin: 30px;
    font-weight: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 50px;
    color: black;
    font-family: "Patrick Hand", cursive;
  }
  
 .weather-forecast{
    margin-top: 10px;
 }

 .weather-forecast h6{
  font-family:"Patrick Hand", cursive;
  text-align: center;
 }

 .weather-forecast img{
   display:block;
   margin: 0 auto;
 }

 .weather-forecast-temperature{
   text-align:center;
   font-family:"Patrick Hand", cursive;
   padding-top:5px;
 }
  .currentCity {
    margin: 30px;
    line-height: 100px;
    font-weight: 600;
    font-family: "Londrina Sketch", cursive;
    font-size: 100px;
    color: black;
  }
  .currentDay {
    margin: 30px;
    font-weight: 100px;
    font-family:  "Patrick Hand", cursive;
    font-size: 18px;
    color: black;
    
  }
  
  .footer {
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    background-color: none;
  }
  
  .daysWeek{
    margin:0 auto;
    
  }
