;.form-row {
    padding-top: 20px;
    padding-left: 20px;
  }
  

  
  .buttonWorld{
    margin-right:6px;
  }

  .buttonWorld:hover {
    opacity: 0.3;
    
  }
  .weatherAPP {
    border: 8px solid rgb(177, 229, 229);
    border-radius: 8px;
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
    padding:20px 20px;
    margin: 20px auto;
    max-width: 500px;
  }
  
  #currentTemperature {
    margin-top: 10px;
    font-weight: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 40px;
    color: black;
    font-family: "Patrick Hand", cursive;
    text-align: left;
  }
  #currentDescription {
    font-weight: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 40px;
    color: black;
    font-family: "Patrick Hand", cursive;
    text-align: left;
  }
  #currentCity {
    margin-top: 10px;
    line-height: 100px;
    font-weight: 600;
    font-family: "Londrina Sketch", cursive;
    font-size: 60px;
    color: black;
    text-align:left;
    max-width: 100px;
  }
  #currentDay {
    margin-top:10px;
    font-weight: 100px;
    font-family:  "Patrick Hand", cursive;
    font-size: 18px;
    color: black;
    text-align:left;
  }
 
  #humidity{
    margin-top: 10px;
    font-weight: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: black;
    font-family: "Patrick Hand", cursive;
    text-align: left;
    line-height: 20px;
    
  }
  #windSpeed {
    margin-top: 160px;
    font-weight: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: black;
    font-family: "Patrick Hand", cursive;
    text-align: left;
    line-height: 20px;
    
  }

  .fa-wind{
    color:gray;
    font-size:15px;

  }

.fa-tint{
  color:gray;
  font-size:15px;
}

  #changeMetrics {
    margin-top: 10px;
    font-weight: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: black;
    font-family: "Patrick Hand", cursive;
    text-align: left;
    line-height: 20px;
  }

#currentToday{
  border: 2px solid rgb(177, 229, 229);
    border-radius: 6px;
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);

}
 .weather-forecast{
    margin: 40px auto;
 }

 .weather-forecast h6{
  font-family:"Patrick Hand", cursive;
  text-align: center;
 }

 .weather-forecast img{
   display:block;
   margin: 0 auto;
 }

 .weather-forecast-temperature{
   text-align:center;
   font-family:"Patrick Hand", cursive;
   padding-top:10px; 
 }
 
 
    
  
  
  .footer {
    
    text-align: center;
    font-family: monospace;
    font-size: 10px;
    background-color: none;
    padding: top 10px;
  }
  
  .daysWeek{
    margin:0 auto;
    
  }

  